@import "../../../../sassStyles/variables.scss";

.smallSummary{
    &__container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    &__responsive-table {
        li {
            border-radius: 3px;
            padding: 25px 30px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
        }
        .table-header {
            background-color: #e8f0fe;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.03em;
        }
        .table-row {
            background-color: #ffffff;
            box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
            font-size: 1.4rem;
        }
        .col-1 {
            flex-basis: 50%;
        }
        .col-2 {
            flex-basis: 50%;
        }
    
        @media all and (max-width: 767px) {
            .table-header {
                display: none;
            }
            li {
                display: block;
            }
            .col {
                flex-basis: 100%;
            }
            .col {
                display: flex;
                padding: 10px 0;
                &:before {
                    color: #6c7a89;
                    padding-right: 10px;
                    content: attr(data-label);
                    flex-basis: 50%;
                    text-align: right;
                }
            }
        }
    }
    
    &__subtotal{
        color: $color-green-1;
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2.6rem;
        margin: 20px 0;
        text-align: center;
        small {
            font-size: 0.5em;
        }
    }
}




