$color-primary: #e5ce06;
$color-primary-light: #7ed56f;
$color-primary-dark: #ffd32a;

$color-secondary-light: #ffdd59;
$color-secondary-dark: #ff7730;

$color-yellow-dark-1: #ffcb00;

$color-tertiary-light: #4bcffa;
$color-tertiary-dark: #0fbcf9;

$color-blue-light-1: #79a2eb;
$color-blue-light-2: #699bf3;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-gray: hsl(0, 0%, 52%);
$color-gray-dark: #777;
$color-gray-dark-2: #383838;
$color-gray-dark-3: #272727;

$color-green-1: #00d310;

$light-purple: #e8f0fe;

$color-red: #ff3f34;

$color-white: #fff;
$color-black: #000;


$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$card--bg: hsl(0, 0%, 98%);
$card--bg-offset: hsl(0, 0%, 100%);
$card--text: hsl(200, 15%, 8%);
$card--gray: hsl(0, 0%, 52%);
$card--border: rgba(0, 0, 0, 0.1);
