@import "../../../sassStyles/variables.scss";

.aboutUs {
    font-family: "Popins", sans-serif;
    &-h {
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 1rem;
        color: $color-gray-dark-3;
        font-size: 2.8rem;
        font-weight: 700;
        
        &--title {
            color: $color-tertiary-dark;
            padding-bottom: 2rem;
        }
        &--item {
            font-size: 2.6rem;
            color: $color-gray-dark-3;
        }
    }
    
    &__underline {
        height: 1px;
        width: 80%;
        background: $color-gray-dark-3;
        margin: 0 auto;
    }

    &__item-container {
        padding: 5rem 0 2.5rem 0;
        width: 80%;
        display: flex;
        margin: auto;
    }
    &__item {
        width: 20%;
        font-size: 7rem;
        color: $color-black;
    }
    &__icon {
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }
}

@media (max-width: 1000px) {
    .aboutUs {
        &__item {
            width: 100%;
            display: grid;
        }
        &-h--item {
            font-size: 2.3rem;
            color: #272727;
        }
        &__item-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            li{
                grid-column: span 2 / span 2;
                grid-row: 1;
            }
            
            li:nth-child(4){
                grid-column: 2 / span 2;
                grid-row: 2;
            }
            li:nth-child(5){
                grid-column: 4 / span 2;
                grid-row: 2;
            }
        }
        
    }
}

@media (max-width: 600px) {
    .aboutUs {
        &-h--item {
            font-size: 2.1rem;
            color: #272727;
        }
    }
}

@media (max-width: 500px){
    .aboutUs-h--item {
        font-size: 1.6rem;
    }
    .aboutUs__item {
        font-size: 6rem;
    }
}
